<% content_for :title, 'Divebook - About' %>
<% content_for :page_title, 'about' %>
<% content_for :page_tagline, 'divebook is an app for divers, from divers' %>

<p>Divebook is a project under development. Not much more to see.</p>